.board {
    border: solid black 2px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: solid black 2px;
    height: 100px;
    width: 100px;
    font-size: 5rem;
    background-color: white;
}

button:hover {
    cursor: pointer;
    background-color: cornsilk;
}

button:disabled {
    color: black;
    background-color: white;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 300px;
    padding-top: 1rem;
}

.results {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.resultCounter,
.resultMessage {
    display: flex;
    justify-content: space-around;
    width: 300px
}